<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/details.css"/>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="js/common.js"></script>
    <script src="js/details.js"></script>
</head>
<body>
<header class="mui-bar mui-bar-nav my-header">
    <h1 class="mui-title">商品详情</h1>
    <a href="search-list.html" class="mui-icon mui-icon-back mui-pull-left"></a>
</header>
<nav class="mui-bar mui-bar-tab my-footer">
    <a class="mui-tab-item mui-active" href="index.html">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="category.html">
        <span class="mui-icon mui-icon-bars"></span>
        <span class="mui-tab-label">分类</span>
    </a>
    <a class="mui-tab-item" href="cart.html">
        <span class="mui-icon fa fa-shopping-cart"></span>
        <span class="mui-tab-label">购物车</span>
    </a>
    <a class="mui-tab-item" href="user.html">
        <span class="mui-icon mui-icon-person"></span>
        <span class="mui-tab-label">会员中心</span>
    </a>
</nav>
<div class="mui-content" id="detailBox">
    <!--<div class="mui-slider">-->
        <!--<div class="mui-slider-group">-->
            <!--<div class="mui-slider-item"><a href="#"><img src="images/product.jpg" /></a></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="productTitle">-->
        <!--哈哈哈哈哈啊哈哈哈哈哈哈哈哈啊哈哈哈哈哈哈哈哈啊哈哈哈-->
    <!--</div>-->
    <!--<div class="price">-->
        <!--价格: <span class="nowPrice">￥112</span> <span class="oldPrice">￥342</span>-->
    <!--</div>-->
    <!--<div class="size">-->
        <!--尺码:  <span>35</span>-->
        <!--<span>35</span>-->
    <!--</div>-->
    <!--<div class="number">-->
        <!--数量:<div class="mui-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='100'>-->
        <!--<button class="mui-btn mui-numbox-btn-minus" type="button">-</button>-->
        <!--<input class="mui-numbox-input" type="number" />-->
        <!--<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>-->
    <!--</div>-->
        <!--剩余: <span>44</span>件-->
    <!--</div>-->
    <!--<div class="mui-row cartInfo">-->
        <!--<a href="cart.html" class="mui-col-xs-6 lookCart">查看购物车</a>-->
        <!--<a href="javascript:;" class="mui-col-xs-6 addCart">加入购物车</a>-->
    <!--</div>-->
</div>
<script type="text/template" id="detailTmp">
    <div class="mui-slider">
        <div class="mui-slider-group">
            <% for(var i=0;i<pic.length;i++){ %>
            <div class="mui-slider-item"><a href="#"><img src="<%=pic[i].picAddr %>" /></a></div>
            <% } %>
        </div>
    </div>
    <div class="productTitle">
      <%=proName %>
    </div>
    <div class="price">
        价格: <span class="nowPrice">￥<%=price %></span> <span class="oldPrice">￥<%=oldPrice %></span>
    </div>
    <div class="size">
        尺码:
        <%  var s=size.split("-"); for(var i=s[0];i<=s[1];i++){ %>
        <span><%=i %></span>
        <% } %>
    </div>
    <div class="number">
        数量:<div class="mui-numbox  numBox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='<%=num %>'>
        <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
        <input class="mui-numbox-input productNum" type="number" value="1"/>
        <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
    </div>
        剩余: <span><%=num %></span>件
    </div>
    <div class="mui-row cartInfo">
        <a href="cart.html" class="mui-col-xs-6 lookCart">查看购物车</a>
        <a href="javascript:;" class="mui-col-xs-6 addCart" data-id="<%=id %>">加入购物车</a>
    </div>
</script>
</body>
</html>