/* 公共样式 */
*{
  margin: 0;
  padding: 0;
}
.my-header {
  background-color: #e92322;
}

.my-header h1 {
	color: #FFF;
}

.my-header .mui-icon-search {
	color: #FFF;
}

.my-footer {
  background-color: #e92322;
}

.my-footer .mui-tab-item {
	color: #FFF;
}

.my-footer .mui-tab-item.mui-active {
	color: darkorange;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #000;
}

