.container {
  background-color: #fff;
  padding: 10px;
}
.container .search {
  position: relative;
}
.container .search .search-text {
  height: 30px;
  padding-right: 70px;
  margin-bottom: 0;
}
.container .search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 30px;
  background-color: #006699;
  color: #fff;
  border: none;
  border-radius: 0;
}
.container .title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0 10px;
  color: #8f8f94;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .title .mui-icon-trash {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
